__pycache__/

build/
dist/

.pytest_cache/

.mypy_cache/

.ruff_cache/

.venv*/

# For PyCharm. Reference: https://github.com/github/gitignore/blob/main/Global/JetBrains.gitignore
# User-specific stuff
.idea/**/workspace.xml
.idea/**/usage.statistics.xml
.idea/**/shelf
.idea/**/dictionaries
.idea/**/tasks.xml
# Sensitive or high-churn files
.idea/**/sqlDataSources.xml
.idea/**/dynamic.xml
.idea/**/uiDesigner.xml
.idea/**/dbnavigator.xml
# Editor-based Rest Client
.idea/httpRequests

.vscode/

temp/
*.db

.env*
__init__.py

.qodo/
